#logs
outputs
utils/create_hyperparameter_markdown.py
config/configs.py
logs
*.pt
dataset_backup
*DS_Store
*.p
*.pkl
.python-version
.ipynb_checkpoints
*__pycache__
.idea
*.out
*.pdf
*.jpeg
*.jpg
*.png
*.pyc
*.xlsx
*.csv
.idea/*
