#logs
outputs
logs

*.pt
dataset_backup
Multimodal-Trajectory-Prediction-CVPR-2020
*DS_Store
*.p
*.pkl
.python-version
.ipynb_checkpoints
*__pycache__
.idea
*.out
*.pdf
*.jpeg
*.jpg
*.png
*.pyc
*.xlsx
*.csv
.idea/*
